<h1>Welcome to MiniSubmarine!</h1>
<div class="content">
  <img src="/img/submarine.jpeg">
</div>
<div class="container title">
  <a class='btn' href="/signup">Sign up</a>
  <a class='btn' href="/signin">Log in</a> <!-- ¿Qué va en esta parte para realizar sign in/up y mostrar lista de ganadores? --> 
 <a class='btn' href="/records">Records</a>
  
</div>


  
